<div class="login-container">
  <div class="row">
    <div class="card">
      <div class="auth-form-lights">
        <div class="d-flex p-3 bg-light text-primary">
          Reset your password here!!
        </div>
        <div ng-app="myApp" ng-controller="myController" class="container">
          <form [formGroup]="serviceCodeCapture.formModel"(submit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input formControlName="EmailAddress" id="email" type="email" class="form-control">
              <div *ngIf="f.EmailAddress.touched && f.EmailAddress.invalid" class="text-danger">
                <div *ngIf="f.EmailAddress.errors?.required">Email Address Number</div>
              </div>
            </div>
            <div class="form-group">
              <re-captcha  (resolved)="resolved($event)" siteKey="6LdVK0oaAAAAADpp3hfCEYpLchC2GiBJREfzziwV">
              </re-captcha>
            </div>
            <div >
              <button type="submit"  class="btn btn-primary btn-block" [class.grey]="disabled"  [disabled]="disabled"  >Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
