<div class="container">
<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card card-stats">
      <a [routerLink]="['/addStudent']">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-primary">
                <i class="nc-icon nc-simple-add text-primary"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category"></p>
                <p class="card-title">New Application
                <p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card card-stats">
      <a href="/reports">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-primary">
                <i class="nc-icon nc-hat-3 text-primary"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-title">My Applications
                <p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
